.action-button {
    display: flex;
}

#root-buttons {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

#root-page {
    color: white;
    background-color: blue;
}
