<html>
<head>

  {{> header}}

</head>



<body>

  <div class="jumbotron">

  <h1>Welcome to the Football Pool Dashboard<h1> 

  <div class="container">
  
    <a href="/login" id="root-buttons">
      <id="root-buttons" button type="button">LOGIN</button>
    </a>

    <a href="/register" id="root-buttons">
      <id="root-buttons" button type="button">REGISTER</button>
    </a>
       
  </div>

</div>

  {{> scripts}}

</body>
</html>